<mat-card>
  <mat-card-title
    >Clients
    <button (click)="refreshClients()" class="refresh" matButton="elevated">
      Refresh client list
    </button></mat-card-title
  >

  <mat-select (selectionChange)="selectClient($event.value)">
    @for (client of allClients(); track client.id) {
      <mat-option [value]="client">
        {{ client.name }}
      </mat-option>
    }
  </mat-select>

  @if (selectedClient(); as client) {
    <form #form="ngForm" novalidate>
      <div class="actions">
        <button [disabled]="!form.valid" matButton (click)="save()">Save</button>
        <button matButton (click)="reset()">Reset</button>
        <button class="danger" matButton="tonal" (click)="remove()">Delete</button>
      </div>

      <app-client-fields-editor
        [client]="client"
        (clientChange)="selectedClient.set($event)"
      ></app-client-fields-editor>

      <app-calendar [title]="client.name" [(weekSchedule)]="client.schedule"></app-calendar>
    </form>
  }
</mat-card>
