@use '@angular/material' as mat;

:host {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-error),
    )
  );
}

header {
  display: flex;
  padding: 16px;
  justify-content: space-between;

  h1 {
    margin: 0;
  }
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
}
